.Toolbar{
    height: 95px;
    justify-content: space-between;
}
.Logo{
    height: 50px;
}
.LogoTxt{
    font-size: 27px;
}
.Link{
    display: flex;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 48px;
}
.div{
    display: inline-flex;
}