.profile {
    box-shadow: none !important;
    margin: 0 !important;
    border: 0 !important;
    text-align: left !important;
    line-height: 2em !important;
    background: none !important;
}

.segment {
    border: 0 !important;
    border-radius: 0 !important;
    background: none !important;
}

.segment:nth-child(1) {
    border-radius: 5;
}

.image {
    height: 270px;
    width: 100%;
    border-radius: 500em;
    :hover{
      opacity: .5;
    }
}