.segment {
    display: flex !important;
    flex-flow: nowrap !important;
    justify-content: space-between !important;
    // text-align: center !important;
    padding: 0 !important;
    margin: auto auto 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    background: none !important;
    box-shadow: none !important;
}

.profile {
    margin: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.image {
    margin: auto !important;
    height: auto !important;
    :hover{
      opacity: .5;
    }
}

.wall {
    margin: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
}

@media(min-width: 768px){
    .profile {
        width: 300px !important;
    }
    .wall {
        width: calc(100% - 300px) !important;
        margin: 0 0 0 20px !important;
    }
    .segment {
        flex-flow: nowrap !important;
    }
}
@media(min-width: 1024px){
    .segment {
        width: 70% !important;
    }
}
@media(min-width: 2560px){
    .segment {
        width: 35% !important;
    }
}