.Box {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    text-align: center;
    margin: auto auto 0;
    width: 90%;
}
.code{
  font-size: 14px;
  margin: auto;
}

@media(min-width: 768px){
    .Box {
        flex-flow: nowrap;
    }
}
@media(min-width: 1024px){
    .Box {
        width: 70%;
    }
}
@media(min-width: 2560px){
    .Box {
        width: 35%;
    }
}