.Box{
    width: 100%;
    margin: 20px 0 0 0;
}
.Paper{
    padding: 15px;
    box-shadow: none !important;
    border-radius: 0 !important;
}
.CustomMargin{
    margin: 20px 0px;
}
.Info{
    font-size: 20px !important;
    text-transform: capitalize;
    border-bottom: 1px solid #3f51b5;
}
.Icon{
    font-size: 17px !important;
}
.Type{
    font-size: 14px !important;
    word-break: break-all;
    margin-bottom: 20px;
}
.Form{
    display: flex;
    justify-content: space-between;
    min-height: 45px;
    width: 100%;
}
.FormHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.img{
    height: 350px;
}
.Modal{
    margin: 20% auto;
    top: 50%;
    width: 150px;
    padding: 15px;
    text-align: center;
}
@media(min-width: 768px){
    .Box{
        width: calc(100% - 300px);
        margin: 0 0 0 20px;
    }
    .img{
        height: 500px;
    }
}

.Loader{
    width: 100%;
    height: 350px;
    box-shadow: none !important;
    border-radius: 0 !important;

    &:empty::after {
        content:"";
        display: block;
        width: 100%;
        height: 100%;
    
        background-image:
          linear-gradient(
            90deg, 
            rgba(white, 0) 0, 
            rgba(white, .7) 50%, 
            rgba(white, 0) 100%
          ),
          linear-gradient(lightgrey 17px, transparent 0),
          linear-gradient(lightgrey 17px, transparent 0),
          linear-gradient(lightgrey 17px, transparent 0),
          linear-gradient(lightgrey 17px, transparent 0),          
          linear-gradient(white 100%, transparent 0);
    
        background-size:
          200px auto,
          calc(100% - 20px) 17px,
          calc(100% - 20px) 17px,
          calc(100% - 20px) 17px,
          calc(100% - 20px) 17px,
          100% 100%
        ;
        
        background-position:
          -150% 0,
          10px 10px,
          10px 60px,
          10px 100px,
          10px 150px,
          0 0
        ;
    
        background-repeat: no-repeat;
        animation: contentLoading 2s infinite;
    }
}

@keyframes contentLoading {
    to {
      background-position:
        350% 0,
        10px 10px,
        10px 60px,
        10px 100px,
        10px 150px,
        0 0
      ;
    }
}